[Desktop Entry]

# The type as listed above
Type=Application

# The name of the application
Name=Catapult

# A comment which can/will be used as a tooltip
Comment=Launcher for CDDA

# The path to the folder in which the executable is run
Path=~/Documents/execs

# The executable of the application, possibly with arguments.
Exec=catapult
