! Display
Xft.dpi: 110


! Font
*font: Terminus:size=10
*rofifont: Terminus 10
*user_bh: 0


! Colors
*foreground: gray


! dwm appearance
dwm*norm_fg: #dadada
dwm*norm_bg: #0a0a0a
dwm*norm_border: #555555

dwm*sel_fg: #dadada
dwm*sel_bg: #cc0700
/* *sel_bg: #005577 */
dwm*sel_border: #a8a8a8

dwm*borderpx: 4

dwm*gappih: 6
dwm*gappiv: 6


! st appearance
st*alpha: 0.60
st*borderpx: 4
st*minlatency: 2
st*maxlatency: 15
