! Display
Xft.dpi: 115

! Font
/* *font: xft:Terminus:size=10 */
/* st*font: xft:Terminus:size=10 */
/* *font: xft:Terminess Nerd Font :size=10 */

! urxvt
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0000/ca00

! Interface
URxvt.scrollBar: false

! Colors
*foreground: gray
